<div class="text-right mt-3 mr-3">
  <button type="button" class="btn btn-info" (click)="openPopup()">
    Update Profile</button
  >&nbsp;
  <button class="btn btn-danger" (click)="handleLogout()">Logout</button>
</div>
<br /><br /><br /><br />

<div class="card">
  <div class="box">
    <div class="img">
      <img
      src={{user.image}}
      />
    </div>
    <h2>
      <b>
        Welcome, {{ user.first_name + " " + user.last_name }}<br /><span
          >&nbsp;SalesForce Developer</span
        >
      </b>
    </h2>
    <p>
      <i
        ><b>
          Hello, I am
          {{ user.first_name + " " + user.last_name }}, working as react
          fullstack developer and angular fullstack developer in smartData
          Nagpur.
        </b></i
      >
    </p>
    <span>
      <ul>
        <li>
          <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </span>
  </div>
</div>

<!---------------------popup---------------------->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          id="cross"
          class="btn btn-warning"
          (click)="closePopup()"
          data-dismiss="modal"
        >
          <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <form #updateForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <label for="exampleInputName"> First Name</label>
                <input
                  required
                  #first_name="ngModel"
                  [(ngModel)]="user.first_name"
                  name="first_name"
                  type="text"
                  class="form-control"
                  pattern="^[a-zA-Z]*$"
                />
                <div
                  *ngIf="first_name.errors && first_name.touched"
                  class="text-danger"
                >
                  <div *ngIf="first_name.errors?.['required']">
                    First name is required*
                  </div>
                  <div *ngIf="first_name.errors?.['pattern']">
                    Only alphabets are allowed
                  </div>
                </div>
                <label for="exampleInputName"> Address Line 1</label>
                <input
                  required
                  #add_line1="ngModel"
                  [(ngModel)]="user.address.add_line1"
                  name="add_line1"
                  type="text"
                  class="form-control"
                />
                <div
                  *ngIf="add_line1.errors && add_line1.touched"
                  class="text-danger"
                >
                  Address line1 is required*
                </div>

                <label for="exampleInputName"> State</label>
                <input
                  required
                  #state="ngModel"
                  [(ngModel)]="user.address.state"
                  name="state"
                  type="text"
                  class="form-control"
                />
                <div *ngIf="state.errors && state.touched" class="text-danger">
                  State is required*
                </div>

                <label for="exampleInputName"> Mobile</label>
                <input
                  required
                  #mobile="ngModel"
                  [(ngModel)]="user.mobile"
                  name="mobile"
                  type="number"
                  class="form-control"
                  pattern="^((\\+91-?)|0)?[0-9]{10}$"
                />
                <div
                  *ngIf="mobile.errors && mobile.touched"
                  class="text-danger"
                >
                  <div *ngIf="mobile.errors?.['required']">
                    Mobile is required*
                  </div>
                  <div *ngIf="mobile.errors?.['pattern']">
                    Mobile must be 10 digits
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="exampleInputName"> Last Name</label>
                <input
                  required
                  #last_name="ngModel"
                  [(ngModel)]="user.last_name"
                  class="form-control"
                  name="last_name"
                  type="text"
                  pattern="^[a-zA-Z]*$"
                />
                <div
                  *ngIf="last_name.errors && last_name.touched"
                  class="text-danger"
                >
                  <div *ngIf="last_name.errors?.['required']">
                    Last name is required*
                  </div>
                  <div *ngIf="last_name.errors?.['pattern']">
                    Only alphabets are allowed
                  </div>
                </div>
                <label for="exampleInputName"> Address Line 2</label>
                <input
                  [(ngModel)]="user.address.add_line2"
                  name="add_line2"
                  type="text"
                  class="form-control"
                />

                <label for="exampleInputName"> City</label>
                <input
                  required
                  #city="ngModel"
                  [(ngModel)]="user.address.city"
                  name="city"
                  type="text"
                  class="form-control"
                />
                <div class="text-danger" *ngIf="city.errors && city.touched">
                  City is required*
                </div>
              </div>
            </div>
            <label for="exampleInputName"> Email</label>
            <input
              required
              [(ngModel)]="user.email"
              name="email"
              type="email"
              class="form-control"
              readonly
            />
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button
          [disabled]="updateForm.invalid"
          type="button"
          class="btn btn-success"
          (click)="handleUpdate(updateForm.value)"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
