<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
          <!------------------------- Email input ------------------------>
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example13">Email address</label>
            <input
              type="email"
              name="email"
              ngModel
              #email="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              class="form-control form-control-lg"
              required
            />
            <div *ngIf="email.touched">
              <p class="error" *ngIf="email.errors?.['required']">
                Email is required *
              </p>
              <p class="error" *ngIf="email.errors?.['pattern']">
                Enter a valid email!!!
              </p>
            </div>
          </div>

          <!------------------------- Password input ------------------------------------->
          <div class="form-outline mb-4">
            <label class="form-label" for="form1Example23">Password</label>

            <input
              required
              #password="ngModel"
              ngModel
              type="password"
              name="password"
              class="form-control form-control-lg"
              minlength="3"
              maxlength="8"
            />
            <span class="error" *ngIf="password.invalid && password.touched"
              >Password is required *</span
            >
          </div>
          Do not have account?
          <a routerLink="/user/register">Signup Here</a
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a class="text-info" (click)="openPopup()">Forgot Password?</a>

          <!-- Submit button -->
          <button
            type="submit"
            class="btn btn-primary btn-lg btn-block"
            [disabled]="loginForm.invalid"
          >
            Sign in
          </button>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>

          <a
            class="btn btn-primary btn-lg btn-block"
            style="background-color: #3b5998"
            href="#!"
            role="button"
          >
            <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
          </a>
          <a
            class="btn btn-primary btn-lg btn-block"
            style="background-color: #55acee"
            href="#!"
            role="button"
          >
            <i class="fab fa-twitter me-2"></i>Continue with Twitter</a
          >
        </form>
      </div>
    </div>
  </div>
</section>

<!------------------Popup For Forget Password------------------->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          id="cross"
          class="btn btn-warning"
          (click)="closePopup()"
          data-dismiss="modal"
        >
          <span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <form #popup="ngForm">
            <input
              type="email"
              name="email"
              ngModel
              #sent="ngModel"
              required
              placeholder="Enter Email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              class="form-control form-control-lg"
            />
            <div *ngIf="sent.touched">
              <p class="error" *ngIf="sent.errors?.['required']">
                Email is required *
              </p>
              <p class="error" *ngIf="sent.errors?.['pattern']">
                Enter a valid email!!!
              </p>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button
          [disabled]="popup.invalid"
          type="button"
          class="btn btn-success"
          (click)="handlePopupSubmit(popup.value)"
        >
          Send Otp
        </button>
      </div>
    </div>
  </div>
</div>
