<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: displayStyle }"
  id="container"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Reset Password</h4>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <!------------------------- Email input ------------------------>
          <div class="form-outline mb-4">
            <input
              type="password"
              name="password"
              ngModel
              #password="ngModel"
              class="form-control form-control-lg"
              placeholder="Password"
              minlength="8"
              required
            />
            <div *ngIf="password.touched" class="text-danger">
              <p class="error" *ngIf="password.errors?.['required']">
                Password is required *
              </p>
              <p class="error" *ngIf="password.errors?.['minlength']">
                Password should be of minimum 8 character
              </p>
            </div>
          </div>
          <div class="form-outline mb-4">
            <input
              type="password"
              name="confirmPassword"
              ngModel
              #confirmPassword="ngModel"
              class="form-control form-control-lg"
              placeholder="Confirm Password"
              required
            />
            <div *ngIf="confirmPassword.touched" class="text-danger">
              <p class="error" *ngIf="password.errors?.['required']">
                Confirm Password is required *
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="handleSubmit(form.value)">Submit</button>
      </div>
    </div>
  </div>
</div>
